/* Global CSS variables */
:root {
    --spacing-company: 3rem;
    --font-weight: 400;
    --border-radius: 0;
  }
  
  /* Typography */
  h2,
  h3,
  hgroup> :last-child {
    font-weight: 200;
  }
  
  small {
    color: var(--muted-color);
  }
  
  /* Header */
  .hero {
    background-color: #394046;
    background-image: url("./img/pexels-mikhail-nilov-6707511.jpg");
    background-position: center;
    background-size: cover;
  }
  
  header {
    padding: var(--spacing-company) 0;
  }
  
  header hgroup> :last-child {
    color: var(--h3-color);
  }
  
  header hgroup {
    margin-bottom: var(--spacing-company);
  }
  
  /* Nav */
  summary[role="link"].contrast:is([aria-current], :hover, :active, :focus) {
    background-color: transparent;
    color: var(--contrast-hover);
  }
  
  /* Main */
  .grid {
    grid-column-gap: var(--grid-spacing-horizontal);
    grid-row-gap: var(--grid-spacing-vertical);
    justify-items: center;
  }
  @media (min-width: 992px){
    body>footer, body>header, body>main, section {
      --block-spacing-vertical: calc(var(--spacing) * 1.5);
    }
    article {
        --block-spacing-horizontal: calc(var(--spacing) * 0.75);
    }
  }
 
